body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
}
h1 {
   color: blue;
   font-size: 25px;
   margin-bottom: 20px;

}
ul{
   list-style: none;
}
li{
   
   display: flex;
   justify-content: space-between;
}
button {
   color: white;
   background-color: rgb(3, 35, 9);
   border-radius: 5px;
}
button:hover{
   background-color: rgb(194, 238, 19);
}